<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649790097367-tpflcb8qfgihl9fm76u58fgo7tfh3bbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649790097367-tpflcb8qfgihl9fm76u58fgo7tfh3bbb</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQApGzZR4B6Gjz9uOR1z5TPzqvqvy4_k</string>
	<key>GCM_SENDER_ID</key>
	<string>649790097367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project9.bwhi.shea</string>
	<key>PROJECT_ID</key>
	<string>ooot-bwhi</string>
	<key>STORAGE_BUCKET</key>
	<string>ooot-bwhi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649790097367:ios:bd8d4bc73f3aabca3b6d92</string>
</dict>
</plist>