<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487471929955-vidgftdrr9pu59tm1e4r2qgts8i9lhc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487471929955-vidgftdrr9pu59tm1e4r2qgts8i9lhc0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487471929955-ckbeihpalv7p2uhvqu4l5nbcs37ro9j0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDglwpZ7m4mvzJnP7NDVacgsRRZMQQuvsc</string>
	<key>GCM_SENDER_ID</key>
	<string>487471929955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shea</string>
	<key>PROJECT_ID</key>
	<string>shea-ac999</string>
	<key>STORAGE_BUCKET</key>
	<string>shea-ac999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487471929955:ios:aae3d2bf72602385a47656</string>
</dict>
</plist>